.btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    border: 0;
    outline: none;
    padding: 1rem 0;
    margin-top: 10px;
    font-size: 1.7rem !important;
    cursor: pointer;
}

